---
import { SOCIAL_LINKS, DONATION_LINKS, PAYPAL_DONATION_NOTE } from "../../consts";

const today = new Date();
---

<footer class="p-8 w-full text-center border-t border-gray-300 dark:border-gray-700 bg-guide-light dark:bg-cosmic-void text-cosmic-void dark:text-guide-light">
	<div class="footer-links flex justify-center gap-8 mb-4">
		<a href="https://mycn18-frontend.placeholder" target="_blank" class="text-oxygen-blue hover:text-nitrogen-red transition-colors duration-300">Sitio oficial MyCn18</a>
		<a href="https://mycn18-docs.placeholder" target="_blank" class="text-oxygen-blue hover:text-nitrogen-red transition-colors duration-300">Documentación MyCn18</a>
	</div>
	<div class="social-links flex justify-center gap-4 mb-4">
		{SOCIAL_LINKS.map((link) => (
			<a 
                href={link.href} 
                target="_blank" 
                aria-label={`Follow on ${link.name}`} 
                title={`Follow on ${link.name}`}
                style={`--hover-color: ${link.hoverColor};`}
                class="p-1 text-cosmic-void dark:text-guide-light hover:text-[color:var(--hover-color)] transition-colors"
            >
				<span class="sr-only">Follow on {link.name}</span>
				<svg 
					role="img" 
					viewBox="0 0 24 24" 
					xmlns="http://www.w3.org/2000/svg"
					aria-hidden="true"
					width="32" 
					height="32"
					class="fill-current"
					>
					<title>{link.name}</title>
					<path d={link.icon}/>
				</svg>
			</a>
		))}
	</div>
	<div class="donation-links flex justify-center gap-4 mb-4">
		{DONATION_LINKS.map((link) => (
			<a 
                href={link.href} 
                target="_blank" 
                aria-label={`Donate via ${link.name}`} 
                title={`Donate via ${link.name}`}
                style={`--hover-color: ${link.hoverColor};`}
                class="p-1 text-cosmic-void dark:text-guide-light hover:text-[color:var(--hover-color)] transition-colors"
            >
				<span class="sr-only">Donate via {link.name}</span>
				<svg 
					role="img" 
					viewBox="0 0 24 24" 
					xmlns="http://www.w3.org/2000/svg"
					aria-hidden="true"
					width="32" 
					height="32"
					class="fill-current"
					>
					<title>{link.name}</title>
					<path d={link.icon}/>
				</svg>
			</a>
		))}
	</div>
	<p class="donation-note text-sm mb-1">{PAYPAL_DONATION_NOTE}</p>
	<p class="text-xs">&copy; {today.getFullYear()} Luis Alberto Hernández Roselló. Todos los derechos reservados.</p>
</footer>